

body {
    color: white;
    text-align: center;
    background-color: steelblue;
    width: 450px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    font-style: sans-serif;
    font-family: arial;
}

h2 {
    font-size: 20px;
    font-family: arial;
}

.gospel {
    color: black;
    text-align: left;
    font-family: arial;
    font-weight: bold;
}

img {
    width: 150px;
}

.large-quote {
    font-size: 40px;
    width: 350px;
    margin: 0 auto;
}

footer {
    margin: 0 auto;
    width: 300px;
    color: black;
    font-family: arial;
}

h1:hover {
    color: black;
}